<p class="accordion lightbox-text">Resume Score
</p>
<hr class="hr-header">

<div class="row-fluid">
<div class="offset1 span10">
	<div class="alert alert-info text-center">
		Resume Score is a number that represents how "cool" your profile is !
		<br/>
		Complete your profile to get a better score !
	</div>
</div>
<div class="span10">
	<dl>
		<dt>
			<p class="lead">
				Looking for more info?
			</p>
		</dt>
		<dd>
			<p>
				Resume Score quantifies the quality of a resume and how much the profile is of interest to recruiters. 
				It is computed relative to profiles within a school and hence informs students how they stand among thier peers.
				It helps recruiters guage the quality of application and visit in that order.
			</p>
		</dd>
		<br/>
		<dt>
			<p class="lead">
				How is it computed?
			</p>
		</dt>
		<dd>
			<p>
				Well, the score will constantly evolve based on what recruiters are looking for what students have in thier profiles. As of today, we are using the following criteria to determine the score.
				and <b>the exact forumale is our SECRET SAUCE!</b>
			</p>
	
			<ul style="margin-left:30px">
				<li>Objective</li>
				<li>Work history (# of companies, total duration & skills acquired)</li>
				<li>Internships (# of companies, total duration & skills acquired)</li>
				<li>Publications & Patents</li>
				<li>Courses & Course projects</li>
				<li>Education level</li>
				<li>GPA</li>
			</ul>
			<p>
				Every student is gauged on these parameters relative to all students in the same school; thus a relative ordering within a school.
			</p>
		</dd>
		<br/>
		<dt>
			<p class="lead">
				How to improve your score?
			</p>
		</dt>
		<dd>
			<p>
				<ul style="margin-left:30px">
					<li class="text-success">Have a good objective</li>
					<li class="text-success">Update previous work & internship information. Add details and skills as much as possible</li>
					<li class="text-success">Declare any publications and patents (Recruiters love these)</li>
					<li class="text-success">Update  course projects and skills learnt.</li>
					<li class="text-success">Add GPA information</li>
				</ul>	
			</p>
		</dd>
	</dl>
</div>
</div>
