<table class="table">
  <tr>
    <td class="table-left">
      <a href="<%= data[:url] %>">
        <div id="box_<%= data[:type] %>" style="background:url(<%= data[:large_image_url] %>) repeat center center fixed">
          <div id="overlay_<%= data[:type] %>">
          </div>
        </div>
      </a>
    </td>
</table>
