<% unless data[:large_image_url].blank? %>
    <a href="<%= data.external_url %>" target="_blank"><img class="image-responsive" style="max-height: 100px" src='<%= data[:large_image_url] %>' data-title="<%= data[:title] %>"/></a>
<% end %>
