<div class="view-message-div">
  <%= render 'view_message', :message => @message %>
</div>
<div class="edit-message-div" style="display: none">
  <%= render 'edit_message', :message => @message %>
</div>