<p class="accordion lightbox-text">
  Coming Soon!
</p>
<hr class="hr-header">

<div class="form-view">
  <div class="lightbox-dialogue-info any-center">
    <p class="accordion">
      Your message inbox will have communication history with candidates.
      <br>
      <br>
      Thank you for your patience!
    </p>
  </div>
</div>