<p class="accordion lightbox-text">
  Success! Your shipment is on the way
</p>
<hr class="hr-header">
<div class="form-view">
  <div class="lightbox-dialogue-info any-center">
    <p class="accordion">
        Happy Holidays!
    </p>
  </div>
</div>
