<p class="accordion lightbox-text">Error generating PDFs
</p>
<hr class="hr-header">
<div class="form-view">
  <div class="lightbox-dialogue-info any-center">
    <p class="accordion">
      <%= @error %>
    </p>
  </div>
</div>


