<p class="accordion lightbox-text">Success!
</p>
<hr class="hr-header">
<div class="form-view">
  <div class="lightbox-dialogue-info any-center">
    <p class="accordion">
      Successfully  pinging search engines.
    </p>
  </div>
</div>


