<p class="accordion lightbox-text">Admin Views
</p>
<hr class="hr-header">
<table class="table">
  <tr>
    <td>
      <a href="/admin/waitlist">Waitlisted emails</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/admin/invitations">Number of invitations</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/admin/email">Invite by email</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/admin/jobs">Jobs Status</a>
    </td>
  </tr>
</table>