<div id="meedpost-form-inner" class="main-inner-wrap">
  <!--<h2>Meed Post</h2>-->
  <p>Students on Meed submit career related news, projects, display essays to build their <a href="">Meed Score</a> and reputation. Currently submissions are accepted by our most active members, specifically those that have been invited by others in the community.</p>
  <h4>Would you like an invite to submit?</h4>
  <p class="button-wrap">
    <a href="javascript:void(0)" class="button button-primary" ng-click="submitMeedpostRequest()">Yes, I'm interested</a>
    <a href="/" class="button">No thanks</a>
  </p>

</div>
