<div class="modal" id="rules-modal">
    <h4> Community Rules</h4>
    <hr>
    <div class="rules-details">
        <p>
            Hi,
        </p>

        <p>
            Welcome to Meed! We are pleased to have you here. To keep our community safe, accessible, and professional, we have set up some basic guidelines.
        </p>
        <h5 class="donts">DON'Ts</h5>

        <p class="rule">
            <i class="fa fa-dot-circle-o"></i> Please DO NOT <em>submit</em>  your resume to the community unless you are looking for feedback. Employers and recruiters do not review resume submissions; please complete your profile to apply to job and internships. Your <a href="/profile" target="_self">profile</a> is used to match you to the best opportunities.
        </p>
        <h5 class="dos">DOs</h5>

        <p class="rule">
            <i class="fa fa-dot-circle-o"></i> Please DO <em>share</em> your course projects, papers, published articles or even news from an industry you are interested in. Sharing and participating in the Meed Community helps build your professional brand recognized by both your peers and employers alike.

        </p>

        <p class="rule">
            <i class="fa fa-dot-circle-o"></i> Don’t forget to add <em>tags</em> to your posts to maximize your visibility.
        </p>
        <div class="story-tags">
            Example Tags:
                    <a class="story-tags"
                       href="/feed/tag/today-i-learned">

                        <i class="fa fa-lightbulb-o"></i> Today I learned
                    </a>
                    <a class="story-tags"
                       href="/feed/tag/entrepreneurship">

                        <i class="fa fa-tag"></i> Entrepreneurship
                    </a>
                    <a class="story-tags"
                       href="/feed/tag/hackathons">

                        <i class="fa fa-tag"></i> Hackathons
                    </a>
        </div>

        There are several <em>moderators</em> for each community on Meed who will escalate or downvote your submissions based on these basic rules

        <br>
        <p>
            Cheers,
        </p>
        <p>
            Meed Moderation Team!
        </p>
    </div>


</div>
