  <h4 style=" color: rgb(61, 61, 69);
          float: left;
          height: 24px;
          letter-spacing: -0.8px;
          text-align: left;
          width: 770px;
          perspective-origin: 385px 12px;
          transform-origin: 385px 12px;
          border: 0px none rgb(61, 61, 69);
          font: normal normal 300 normal 18px / 24px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
          list-style: none inside none;
          margin: 0px 0px 10px;
          outline: rgb(61, 61, 69) none 0px;">
                        <span style="color: rgb(61, 61, 69);
                                cursor: pointer;
                                letter-spacing: -0.8px;
                                text-align: left;
                                text-decoration: none;
                                border: 0px none rgb(61, 61, 69);
                                font: normal normal 300 normal 18px / 24px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
                                list-style: none inside none;
                                outline: rgb(61, 61, 69) none 0px;"><strong><%= action %></strong> <%= verb %> —</span>
  </h4>