<html xmlns="http://www.w3.org/1999/html">
<head>
  <title></title>
</head>
<body>
<span style="margin-left: 47%;">
	<img alt="" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_50/v1427155934/crescent_green_rt6rit.png" />
	<br/>
</span>
<hr style="color:#999999">
<p>
  <span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">Howdy <%= @user.first_name %>
    !
  </span></p>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
  Thanks for being part of resume community. We hope you are liking and finding it valuable.</span>
</p>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
  Fall recruiting is around the corner, so why not care for your friends and invite them?
  </span>
</p>

<ul>

  <li>
    <p>
<span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
 Share on Facebook
 <a style="font-size: 14px;color:#00a651;" href="https://www.facebook.com/sharer/sharer.php?u=<%= @url %>" target="_blank">
   Click here
 </a>
</span>
    </p>
  </li>


  <li>
    <p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
        Invite via <%= link_to 'University Gmail', @contacts_url, :style => '
				font-family: "Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
					font-size:14px; color:#00a651;' %>
    </span>
    </p>
  </li>
</ul>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
  Good deeds always pay! we love your care for your friends. So here are some
   <span style="font-weight:bold; font-size:14px; text-decoration: underline">perks</span>
  </span>
</p>

<ul>
  <li>
    <p style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
      <span style="font-weight:bold;">$250 Visa</span> gift card - for winner(s) of highest referral sign ups.
    </p>
  </li>
  <li>
    <p style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
      Get the <span style="font-weight:bold;">nitro</span> - winners profile boosted to top in job applications.
    </p>
  </li>
  <li>
    <p style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
      <span style="font-weight:bold;">Summer</span> Internships - We know you love our product, so qualified winners get
      an opportunity to intern with us next summer!
    </p>
  </li>
</ul>


<p>
  <span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;"><a style="font-size: 14px;color:#00a651;" href="http://resu.me/fallcompetition">Competition</a> ends <span style="font-weight:bold;text-decoration: underline">October 31st</span> and you could track winners at weekly leader board
 —
    <%= link_to 'Leader Board', 'http://resu.me/fallcompetition', :style => '
				font-family: "Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
					font-size: 14px;color:#00a651;' %>
    </span>
</p>

<p>
  <span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">— Resume Team </span>
</p>

<p style="margin-top: 5%;">
  <span style="font-size:12px; color: #888888;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">Good, bad or ugly share it with us at contact@getmeed.com</span>
</p>
</body>
</html>
