<div class="row-view">
  <div class="row">

    <div style="margin-top:2%" class="job-details-body">
      <p>
        Hi <%=@handle%>,
      </p>

      <p style="text-align: left;color: #333333; font-family: 'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif ;padding: 0% 5% 0%;font-size: 12px">
        Up voting or answering questions are two equally important things to show your skills to employers along with knowledge sharing to other students.
        An activity around question and answers help quantifying your "resume score" which is built out of your resume, answers and upvotes.
        "resume score" is used as an important heuristic by employers while looking at your resumes.
        <br/>
        <br/>
        Folow the current question here - <%= link_to @landing_url, @landing_url %>
      </p>
    </div>
    <hr class="hr-profile-item">
     - Meed Team
  </div>
</div>