<html>
<head>
  <title></title>
</head>
<body>
<center>
<span>
	<img alt="" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_50/v1427155934/crescent_green_rt6rit.png" />
	<br/>
</span>
</center>
<hr style="color:#999999">
<p>
  <span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 18px; ">Hi,</span>
</p>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 18px; ">
		resu.&zwnj;me, is now fully open to <%= @school_handle %>! Join your classmates including <strong><%= @invitor[:first_name] %></strong>, alumni and companies that matter to you!
    </span>
</p>
<center>
  <p>
    <a href="<%= @url %>">
      <button style="display: inline-block;
              font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 18px;
              vertical-align: top;
              font-size: 13px;
              text-align: center;
              border: 0;
              border-radius: 2px;
              cursor: pointer;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              color: white;
              text-shadow: 0 1px rgba(0, 0, 0, 0.08);
              background: #4ebd4a;
              height: 30px;
              padding: 0 28px;">
        <%= "Join #{@school_handle}!" %>
      </button>
    </a>
  </p>
</center>
<p style="margin-top: 5%;">
      <span style="font-size:12px; color: #888888;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 18px; ">
        resu.&zwnj;me is exclusive to top universities. After you sign up, you'll be able to stay connected with your classmates, alumni and relevant companies and their professional updates. You can also access job marketplace exclusive to your majors.
      </span>
  <span style="font-size:12px; color: #888888;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 18px; ">Good, bad or ugly share it with us at <span style="color:#00a651;"> contact@getmeed.com</span></span>
</p>
</body>
</html>
