<html>
<head>
  <title></title>
</head>
<body>
<span style="margin-left: 47%;">
	<img alt="" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_50/v1427155934/crescent_green_rt6rit.png" />
	<br/>
	<span style="color:#888888; margin-left: 37%; font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif; font-size: 13px">
      Create. Connect. Get hired!
	</span>
</span>
<hr style="color:#999999">
<p>
  <span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">Hi,</span>
</p>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
            <%= @body.html_safe %>
    </span>
</p>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
        Follow this link:  <%= link_to @landing_url, @landing_url %>

    </span>
</p>

<p>
	<span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">&mdash;
       Meed Team
</span>
</p>
</body>
</html>
