<html>
<head>
	<title></title>
</head>
<body>
<span style="margin-left: 47%;">
	<img alt="" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_50/v1427155934/crescent_green_rt6rit.png" />
	<br/>
</span>
<hr style="color:#999999">
<p>
	<span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">Hi,</span>
</p>

<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
	A recruiter from <%= @subject %> has opened your application, Check your profile insights to track your resume views &mdash;
  <p style="margin-left: 42%">
    <a href="<%= @insights_url %>"><button style="display: inline-block;
            font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
            vertical-align: top;
            line-height: 1;
            font-size: 13px;
            text-align: center;
            border: 0;
            border-radius: 2px;
            cursor: pointer;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: white;
            text-shadow: 0 1px rgba(0, 0, 0, 0.08);
            background: #4ebd4a;
            height: 30px;
            padding: 0 28px;">
          <%= 'Profile Insights' %>
    </button></a>
</span>
</p>



<p><span style="font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">&mdash;
	Meed Team</span></p>
<p style="margin-top: 10%;"><span style="font-size:12px; color: #888888;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">Good, bad or ugly share it with us at contact@getmeed.com</span>
</p>
</body>
</html>


