<div class="row">
  <div class="span9">

    <div class="form-view">
      <p class="accordion" style="text-align: left;color: #333333; font-family: 'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif ;padding: 0% 5% 0%;font-size: 12px">
        Hi <%= @user.first_name %>,
        <br/>
        <br/>
        Thanks for applying to <span style="text-decoration: underline"><%= @job.title %> </span> at <strong style="font-size: 16px"><%= @job.company %></strong>. They are requesting to answers the following question —
        <br/>
        <br/>
        <%= link_to @landing_url, @landing_url %>
        <br/>
        <br/>
        -Meed Team.
      </p>
    </div>
  </div>
</div>