<div class="ama-right">
  <jssocials item="ama" style="font-size: 20px"></jssocials>
  <div class="fb-event" ng-if="ama.event.facebook_event_url">
    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-post" data-href="https://www.facebook.com/getonmeed/posts/1658961177680351" data-width="200"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/getonmeed/posts/1658961177680351"><p>RSVP to get the most up to date info!</p>Posted by <a href="https://www.facebook.com/getonmeed/">Meed</a> on&nbsp;<a href="https://www.facebook.com/getonmeed/posts/1658961177680351">Thursday, October 29, 2015</a></blockquote></div></div>
  </div>
</div>