<div class="main-wrap">
    <ama-header
            current-user="currentUser"
            ama="ama"
            ama-id="amaId"
            load-ama="loadAma"
            is-following="isFollowing">
    </ama-header>
    <div class="main">
        <ama-content
                current-user="currentUser"
                ama="ama"
                load-ama="loadAma"
                ></ama-content>
    </div>
    <ama-right current-user="currentUser"
               ama="ama">
    </ama-right>

</div>
