<div class="blog-list blog-category-list" style="overflow: hidden">
  <article class="post col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <div>
      <div class="content feed-container">
        <div class="date-label">
          #1 COMPLETE PROFILE - points: 500
        </div>
      </div>
    </div>
  </article>
  <article class="post col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <div>
      <div class="content feed-container">
        <div class="date-label">
          #2 FOLLOW MEED TWITTER PAGE: 500
        </div>
      </div>
    </div>
  </article>
  <article class="post col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <div>
      <div class="content feed-container">
        <div class="date-label">
          #3 FOLLOW MEED TWITTER PAGE: 500
        </div>
      </div>
    </div>
  </article>
  <article class="post col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <div>
      <div class="content feed-container">
        <div class="date-label">
          #4 FOLLOW FB PAGE: 500
        </div>
      </div>
    </div>
  </article>
  <article class="post col-md-12 col-sm-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-xs-offset-0" >
    <div>
      <div class="content feed-container">
        <div class="date-label">
          #4 FOLLOW FB PAGE: 500

        </div>
      </div>
    </div>
  </article>
</div>