<div class="headline-bg">
</div>
<section class="login-section access-section section">
  <div class="container">
    <div class="row">
      <%= form_tag({:action => :create, :email => @email}, :class => 'login-form', :html => {:multipart => true}) do %>
          <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
            <div class="form-box-inner">
              <h2 class="title text-center">  Password activation email sent!</h2>

              <div class="row any-center">
                <div class="form-container col-md-10 col-md-offset-1">
                  <p>  Please check your email, we sent a reset link to <strong><%= @email %></strong> .
                    <br/>If you haven't received it yet? Please check your spam folder .
                  <br>
                  <div class="col-md-2 col-md-offset-4">
                    <% if !alert.blank? %>
                        <p class="label label-important">
                          <%= alert %>
                        </p>
                    <% end %>
                  </div>
                </div>
                <!--//form-container-->
                <!--//social-btns-->
              </div>
              <!--//row-->
            </div>
            <!--//form-box-inner-->
          </div>
      <% end %>
      <!--//form-box-->
    </div>
    <!--//row-->
  </div>
  <!--//container-->
</section>