<div ng-if="!currentUser" class="influencer-header">
    <div class="header-bg">
        <div class="header-intro">
            <div class="primary-text">Meed</div>
            <div class="secondary-text">The Professional Community For Students</div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="follow-cta">
                <span class="cta">
                  <a class="button button-primary open-signup-modal">Become an Influencer</a>
                </span>
            </div>
            <div class="row"></div>
            <div class="divider"></div>
        </div>
    </div>
</div>
