<div class="row">
    <poster-info item="feedItem"></poster-info>
    <!--<abbr class="timeago activity-feed-item-timestamp" title="{{ ::feedItem.create_time }}">{{ ::feedItem.create_time-->
        <!--}}</abbr>-->
    <div class="feed-user-actions" ng-if="showUserActions == 'true'">
       <feed-user-action-buttons item="feedItem"></feed-user-action-buttons>
    </div>
    <activity-feed-item-caption item="feedItem"></activity-feed-item-caption>
    <div class="activity-feed-item-content">
        <div
                class="activity-feed-item-description-wrap"
                ng-class="{noimage: !feedItem.small_image_url }">
            <div class="picture-wrap" ng-if="feedItem.small_image_url">
                <a ng-href="{{ ::feedItem.external_url }}" ng-click="feedItem.trackClick()" target="_blank">
                    <img ng-src="{{ ::feedItem.small_image_url }}"/>
                </a>
            </div>

            <div class="story-link">
                <a ng-href="{{ ::feedItem.external_url }}" ng-click="feedItem.trackClick()" target="_blank">
                    {{ ::feedItem.title }}
                </a>
            </div>
            <div class="story-tags" ng-if="feedItem.tag_objects">
                Tags:
                <span  ng-repeat="tag in feedItem.tag_objects">
                    <a      ng-if="tag._id == 'portfolio'" class="story-tags-private"
                            ng-href="/{{ ::feedItem.user.handle }}#portfolio">

                        <i class="fa fa-{{ ::tag.icon}}"></i> {{ ::tag.title }}
                    </a>
                    <a      ng-if="tag._id != 'portfolio'" class="story-tags"
                            ng-href="/feed/tag/{{ ::tag._id}}"
                            >

                        <i class="fa fa-{{ ::tag.icon}}"></i> {{ ::tag.title }}
                    </a>
                </span>
            </div>
        </div>
        <div class="feed-actions">
            <feed-item-action-buttons item="feedItem"></feed-item-action-buttons>
            <feed-item-social-share-modal item="feedItem"></feed-item-social-share-modal>
        </div>
    </div>

    <comments item="feedItem" ng-if="feedItem.comments" current-user="currentUser" show-write-comment="false"></comments>
</div>
