<div style="text-align: center">
<% if !alert.blank? %>
    <p class="label label-important">
      <%= alert %>
    </p>
<% end %>
<% if !notice.blank? %>
    <p class="label label-success">
      <%= notice %>
    </p>
<% end %>
</div>

