<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="ownerBoxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="accordion lightbox-text">Tip: Follow up with hiring manager. <p>
        <hr class="hr-header">
      </div>
      <div class="modal-body">
        <center>
          <p>
            Remember to follow up with hiring manager after a week. You can send a personal message from your <a href="/home#jobs">My Jobs</a> section.
          </p>
        </center>

      </div>
      <div class="modal-footer">
        <div class="any-center">
          <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-ok-circle"></span> Sounds good!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
