<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div class="any-center">
    <span style="color:black;">You can't apply to jobs unless your profile is complete!</span> <a href="/<%= current_user[:handle] %>?reg=true">
    <strong>Update here</strong></a>
  </div>
</div>