<div class="modal fade" id="jobShareModal" tabindex="-1" role="dialog" aria-labelledby="ownerBoxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p class="accordion lightbox-text">
          Test Title
        </p>
        <hr class="hr-profile-header">
      </div>
      <div class="modal-body">
        Test Body
      </div>
    </div>
  </div>
</div>