<div class="modal fade" id="socialShareModal" tabindex="-1" role="dialog" aria-labelledby="ownerBoxLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="liue">&times;</button>
        <p id="modal_header" class="accordion lightbox-text">
          Increase Your Reputation Score
        </p>
        <hr class="hr-profile-header">
      </div>
      <div class="modal-body">
        <p>
          Discussion on your posts
          increase your reputation score seen by employers! Invite others to upvote and comment.

        </p>

        <div class="any-center">
          <div id="share_social_modal">
          </div>
        </div>
        <hr class="hr-silent">
        <div class="info-text-medium">
          Common places to share with:
          <ul>
            <li>
              University Facebook Groups (Major specific)
            </li>
            <li>
              Your classmates if it's relevant to the course you're taking
            </li>
            <li>
              Friends who are interested in this topic
            </li>

          </ul>
        </div>

      </div>
      <div class="modal-footer">
        <div id="bottom_action" class="any-center">
        </div>
      </div>
    </div>
  </div>
</div>
