<div class="any-center info-text-medium">
  <button class="btn btn-sm btn-primary cursor buzz-out" onclick="location.href='/login'">
    <span class="glyphicon glyphicon-log-in"></span> Login
  </button>
  <p>
  </p>
  <p>
    Please log in to view <%= type %> from <%= from %>
  </p>
</div>