<p class="accordion lightbox-text">
  Fall Competition — Leader Board
</p>
<hr class="hr-header">

<div class="form-view">
  <table class="row-view">
    <tr class="profile-insight" style="text-align: center">
      <p class="info-text-large" style="text-align: center">
        This week's leader board for fall <a href="/fallcompetition">competition</a> is coming up, keep checking this space!
      </p>
    </tr>
  </table>
</div>