<p class="accordion lightbox-text">
  Care, Share and Win $250 — Fall Competition
  <div class="info-text-dashboard" style="color:red">
    (*Deadline - October 31st)
  </div>
</p>
<hr class="hr-header">

<p class="job-create-heading"> 1. Share & Care
</p>
<hr class="job-create-hr">
<div class="form-submit-small">
  <div class="fb-share-button" data-href="<%= @promo_url %>"></div>
  <div class="info-text">
    *Any student joining from your share will be under your credit
  </div>
</div>
<span class="any-center size18">— AND —</span>

<%= render 'connections/import_connections', :school_prefix => get_school_prefix, :school_prefix_handle => current_school_handle, :show_custom_email => false %>
<hr class="job-create-hr">
<p class="job-create-heading"> 2. Perks and Wins
</p>
<hr class="job-create-hr">
<div class="form-submit">
  <div>
    <img src="http://res.cloudinary.com/resume/image/upload/c_scale,w_360/v1408124776/https_www_nasafcu_com_img_ATM-Visa-Gift-Card_drtunn.jpg" style="height: 215px; width: 360px">
  </div>
  <div class="info-text-large">     $250 gift card            </div>
  <div class="size16" style="margin-top: 3%; margin-bottom: 3%">—</div>

 <div class="size16"> Winners get a <strong>nitro boost</strong> on their job applications to stack up.</div>

  <div class="size16" style="margin-top: 3%; margin-bottom: 3%">—</div>

  <div class="size16">A Summer <span style="text-decoration: underline">internship</span> opportunity with us next summer!</div>
  <div class="size16" style="margin-top: 3%; margin-bottom: 3%">—</div>
  <div class="size16">Track winner's leader board here — <a href="/fallcompetition/leaderboard">Leader board</a></div>
  <div class="size16" style="margin-top: 3%; margin-bottom: 3%">—</div>
  <div class="size16">Questions concerns? Reach us at  <span style="color: #00a651">contact@getmeed.com</span></div>

</div>