<p class="accordion lightbox-text">Successfully sent!
</p>
<hr class="hr-header">
<div class="form-view">
  <div class="lightbox-dialogue-info any-center">
    <p class="accordion">
      Your message has been sent. We will get back to you shortly.
    </p>
  </div>
</div>