<p class="accordion lightbox-text">
  Unsubscribe Success!
</p>
<hr class="hr-header">
<div class="form-view">
  <div class="lightbox-dialogue-info any-center">
    <p class="accordion">
      You will no longer receive alerts from Meed.
      <br/>
      If you did this by mistake,
      <strong><a href="/emails/subscribe?email=<%= params[:email] %>&type=<%= params[:type] %>">Click here</a></strong> to undo.
    </p>
  </div>
</div>


