<ul class="collections-list">
    <li class="my-portfolio-entry">
        <div class="image-wrap">
            <a ng-href="/{{ ::currentUser.handle }}#portfolio" target="_blank" class="biglink"></a>
            <div class="image-overlay"></div>
            <img width="200" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_400/v1443755110/Portfolio-Development-Icon-300x300_famw7n.png" />
            <p class="collection-title">
              My Portfolio
            </p>
        </div>
    </li>
</ul>