<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a target="_blank" href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Begin Intro Section -->
<section id="intro">
    <div id="parallax-1" class="parallax">
        <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-1"
             data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;">
            <div class="intro-body text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 intro-content">
                            <div class="logo">
                                <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_150/v1448489484/crescent_green_oq4e9g.png"/>
                            </div>
                            <!-- //.logo -->

                            <div class="intro-text text-center">
                                <h2 ng-if="!ab_test">The Professional Community</h2>
                                <h2 ng-if="ab_test"> {{ ::ab_test_header }}</h2>

                                <p ng-if="!ab_test" class="lead">Where Students Build Careers</p>
                                <p ng-if="ab_test" class="lead">{{ ::ab_test_sub_heading}}</p>


                            </div>
                            <div class="intro-text text-center">
                                <a class="button button-primary open-signup-modal">Sign Up As A Student</a>
                            </div>
                            <div class="intro-text text-center">
                                <a class="button button-secondary open-influencer-signup-modal">Sign Up As Alumni or Influencer</a>
                            </div>
                            <!-- //.intro-content -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //.container -->
                </div>
                <!-- //.intro-body -->
            </div>
            <!-- //.bcg -->
        </div>
    </div>
    <!-- //.parallax -->
</section>
<!-- //End Intro Section -->


<!-- Begin Our History Section -->
<section id="our-history" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">WHY DO YOU NEED MEED?</h2>

                        <h3 class="sub-title">Building Your Professional Identity</h3>

                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">

                    <!-- Begin Timeline -->
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge">
                                <i class="fa fa-dot-circle-o"></i>
                            </div>
                            <!-- //.timeline-badge -->

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Basic Profile</h4>

                                    <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533411/Screen_Shot_2015-11-26_at_2.23.17_AM_tljtbw.png"
                                         alt="" class="img-responsive">
                                </div>
                                <!-- //.timeline-heading -->

                                <div class="timeline-body">
                                    <p>Your basic profile, like your resume, is a snapshot of your professional life. It's the initial introduction to who you are!
                                    </p>
                                </div>
                                <!-- //.timeline-body -->
                            </div>
                            <!-- //.timeline-panel -->
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                                <i class="fa fa-dot-circle-o"></i>
                            </div>
                            <!-- //.timeline-badge -->

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Portfolio</h4>

                                    <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533485/Screen_Shot_2015-11-26_at_2.24.28_AM_hkokwq.png"
                                         alt="" class="img-responsive">
                                </div>
                                <!-- //.timeline-heading -->

                                <div class="timeline-body">
                                    <p>Differentiate yourself from the crowd, by showing off your personality, skills, and coursework through your portfolio.</p>
                                </div>
                                <!-- //.timeline-body -->
                            </div>
                            <!-- //.timeline-panel -->
                        </li>

                        <li>

                            <div class="timeline-badge">
                                <i class="fa fa-dot-circle-o"></i>
                            </div>
                            <!-- //.timeline-badge -->

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title"> Networking </h4>

                                    <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533885/Screen_Shot_2015-11-26_at_2.30.51_AM_dstlbh.png"
                                         alt="" class="img-responsive">
                                </div>
                                <!-- //.timeline-heading -->

                                <div class="timeline-body">
                                    <p>Connect with alumni, successful professionals, and recruiters through individual industry communities.
                                    </p>
                                </div>
                                <!-- //.timeline-body -->
                            </div>
                            <!-- //.timeline-panel -->
                        </li>

                        <li class="timeline-inverted">

                            <div class="timeline-badge">
                                <i class="fa fa-dot-circle-o"></i>
                            </div>
                            <!-- //.timeline-badge -->

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Personal Branding </h4>

                                    <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533581/Screen_Shot_2015-11-26_at_2.26.00_AM_v177dz.png"
                                         alt="" class="img-responsive">
                                </div>
                                <!-- //.timeline-heading -->

                                <div class="timeline-body">
                                    <p>Increase your reputation on Meed and get noticed by recruiters by participating and contributing to the community.
                                    </p>
                                </div>
                                <!-- //.timeline-body -->
                            </div>


                        </li>


                        <li>

                            <div class="timeline-badge">
                                <i class="fa fa-dot-circle-o"></i>
                            </div>
                            <!-- //.timeline-badge -->

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Finding A Job</h4>

                                    <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533656/Screen_Shot_2015-11-26_at_2.27.10_AM_z21dfk.png"
                                         alt="" class="img-responsive">
                                </div>
                                <!-- //.timeline-heading -->

                                <div class="timeline-body">
                                    <p>We’ll help you find the perfect job or internship for your skills, passions, and interests. </p>
                                </div>
                                <!-- //.timeline-body -->
                            </div>
                            <!-- //.timeline-panel -->
                        </li>
                    </ul>
                    <!-- //End Timeline -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.section-inner -->
</section>


<section id="our-main-skills" class="section section-parallax-yes">
    <div class="section-inner">
        <div class="section-overlay"></div>

        <div id="parallax-3" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-3"
                 data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
                 data-bottom-top="background-position: 50% 100px;">
                <div class="container section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3 class="main-title">HOW DOES IT WORK?
                                </h3>

                                <h3 class="sub-title">IN A NUT SHELL</h3>

                                <span class="section-line"></span>
                            </div>
                            <!-- //.section-title -->
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                    <!-- //.row -->

                    <div class="row">
                        <div class="col-md-5">
                            <div class="bar-chart-text">
                                <p class="lead">
                                    Students typically don’t have a huge amount of professional experience, but have demonstrated their skills and capabilities in and outside the classroom. On Meed students are able to use all their coursework, independent projects, and extracurriculars to build their professional identity. By participating in communities, students are able to show their interest and expertise in a given field.

                                </p>

                                <p>
                                </p>
                                For example: Sharing knowledge and answering questions in a community builds your professional brand.

                            </div>
                            <!-- //.bar-chart-text -->
                        </div>
                        <!-- //.col-md-5 -->

                        <div class="col-md-7">

                            <!-- Begin Bar Chart -->
                            <div class="bar-chart">
                                <div class="bar-chart-item" data-percent="85">
                                    <p>User Experience</p>
                                </div>
                                <!-- //.bar-chart-item -->

                                <div class="bar-chart-item" data-percent="75">
                                    <p>Business & Entrepreneurship</p>
                                </div>
                                <!-- //.bar-chart-item -->

                                <div class="bar-chart-item" data-percent="100">
                                    <p>Marketing</p>
                                </div>
                                <!-- //.bar-chart-item -->

                                <div class="bar-chart-item" data-percent="90">
                                    <p>Account Management & Economics</p>
                                </div>
                                <!-- //.bar-chart-item -->

                                <div class="bar-chart-item" data-percent="60">
                                    <p>Creative Writing</p>
                                </div>
                                <!-- //.bar-chart-item -->

                                <div class="bar-chart-item" data-percent="75">
                                    <p>Software Development</p>
                                </div>
                                <!-- //.bar-chart-item -->

                                <div class="bar-chart-legend clearfix">
                                    <div class="legend legend-left">
                                        <p>New Hire</p>
                                    </div>
                                    <!-- //.legend -->

                                    <div class="legend legend-left">
                                        <p>Manager</p>
                                    </div>
                                    <!-- //.legend -->

                                    <div class="legend legend-right">
                                        <p>Director</p>
                                    </div>
                                    <!-- //.legend -->

                                    <div class="legend legend-right">
                                        <p>Executive</p>
                                    </div>
                                    <!-- //.legend -->
                                </div>
                                <!-- //.bar-chart-legend -->
                            </div>
                            <!-- //End Bar Chart -->
                        </div>
                        <!-- //.col-md-7 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </div>
    <!-- //.section-inner -->
</section>
<!-- //End Our Main Skills Section -->


<!-- Begin Quote Section -->
<section id="quote" class="section section-parallax-yes">
    <div class="section-inner">
        <div class="section-overlay"></div>

        <div id="parallax-4" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-4"
                 data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
                 data-bottom-top="background-position: 50% 100px;">
                <div class="container section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="quote-text text-center">
                                    <span class="quote-icon">
                                        <i class="fa fa-quote-right fa-4x"></i>
                                    </span>

                                <h2>"Social media is not just an activity; it is an investment of valuable time and resources. Surround yourself with people who not just support you and stay with you, but inform your thinking about ways to wow your online presence."</h2>

                                <h2 class="lead quote-by">(Sean Gardner)</h2>
                            </div>
                            <!-- //.quote-text -->
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </div>
    <!-- //.section-inner -->
</section>h

<!-- Begin Who We Are Section -->
<section id="who-we-are" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">SO WHAT IS MEED?</h2>

                        <h3 class="sub-title">YOUR PROFESSIONAL COMMUNITY</h3>

                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-6">
                    <div id="carousel-who-we-are" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448532242/5684944311_b144fe29a3_o_y2xxzr.jpg"
                                 alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.item -->

                        <div class="item">
                            <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448532246/8812567121_25d8d9ae53_o_x6ztap.jpg"
                                 alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.item -->

                        <div class="item">
                            <img src="http://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448533150/5416627232_fd1a98369a_o_c26qtz.jpg"
                                 alt="" class="img-responsive img-rounded"/>
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.owl-carousel -->
                </div>
                <!-- //.col-md-6 -->

                <div class="col-md-6">
                    <div class="who-we-are-text">
                        <h4>INTRODUCTION</h4>

                        <p> Meed’s goal is to help students build detailed, engaging online resumes — whether they are experienced postgraduate students or freshmen navigating their first semester. Students simply create a profile that includes their past experience, their education and classes, a portfolio of projects they’ve completed, and thoughts on their favorite career-related topics. Once completing their profile, students enter a community of alumni, recruiters, industry leaders, and their peers, dedicated to launching their career. </p>

                    </div>
                    <!-- //.who-we-are-text -->
                </div>
                <!-- //.col-md-6 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.section-inner -->
</section>
<!-- //End Who We Are Section -->
<!-- Begin Fun Fact Section -->
<section id="fun-fact" class="section section-parallax-yes">
    <div class="section-inner">
        <div class="section-overlay"></div>

        <div id="parallax-2" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-2"
                 data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
                 data-bottom-top="background-position: 50% 100px;">
                <div class="container section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h2 class="main-title">HOW BROAD  IS OUR NETWORK?
                                </h2>

                                <h3 class="sub-title">SOME FUN FACTS ABOUT US</h3>

                                <span class="section-line"></span>
                            </div>
                            <!-- //.section-title -->
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                    <!-- //.row -->

                    <div class="row">
                        <!-- //.col-xs-6 col-sm-6 col-md-3 -->


                        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                            <div class="counter-item not-right-column">
                                <i class="fa fa-graduation-cap"></i>

                                <div class="inner-content">
                                        <span class="number" data-from="1" data-to="200"
                                              data-refresh-interval="10">
                                            200
                                        </span>
                                </div>
                                <!-- //.inner-content -->

                                <p>Universities</p>
                            </div>
                            <!-- //.counter-item -->
                        </div>
                        <!-- //.col-xs-6 col-sm-6 col-md-3 -->

                        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                            <div class="counter-item">
                                <i class="fa fa-users"></i>

                                <div class="inner-content">
                                        <span class="number" data-from="1" data-to="75" data-refresh-interval="10">
                                            75
                                        </span>
                                </div>
                                <!-- //.inner-content -->

                                <p>Communities</p>
                            </div>
                            <!-- //.counter-item -->
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                            <div class="counter-item not-right-column top-column">
                                <i class="fa fa-suitcase"></i>

                                <div class="inner-content">
                                        <span class="number" data-from="1000" data-to="3000" data-refresh-interval="10">
                                            3000
                                        </span>
                                </div>
                                <!-- //.inner-content -->

                                <p>Jobs</p>
                            </div>
                            <!-- //.counter-item -->
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
                            <div class="counter-item not-right-column top-column">
                                <i class="fa fa-building"></i>

                                <div class="inner-content">
                                        <span class="number" data-from="1" data-to="450" data-refresh-interval="10">
                                            450
                                        </span>
                                </div>
                                <!-- //.inner-content -->

                                <p>Companies</p>
                            </div>
                            <!-- //.counter-item -->
                        </div>
                        <!-- //.col-xs-6 col-sm-6 col-md-3 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </div>
    <!-- //.section-inner -->
</section>
<!-- //End Fun Fact Section -->




<!-- //End Quote Section -->


<!-- Begin Our Latest Work Section -->
<section id="our-latest-work" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2 class="main-title">COMMUNITY ACTIVITY
                        </h2>

                        <h3 class="sub-title">WHAT STUDENTS ARE SHARING </h3>

                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="filter-portfolio">
                        <ul class="list-unstyled">
                            <li class="active">
                                <a target="_blank" href="#" data-filter="*" class="btn btn-rj disabled">All</a>
                            </li>

                            <li>
                                <a target="_blank" href="#" data-filter=".identity" class="btn btn-rj">Identity</a>
                            </li>

                            <li>
                                <a target="_blank" href="#" data-filter=".logo" class="btn btn-rj">Documents</a>
                            </li>

                            <li>
                                <a target="_blank" href="#" data-filter=".illustration" class="btn btn-rj">Community</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //.filter-portfolio -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="popup-portfolio">
                                <div class="portfolio-item grow illustration logo">
                                    <div class="inner-content">
                                        <div class="portfolio-content">
                                            <div class="portfolio-detail">
                                                <a target="_blank" href="#"
                                                   title="Documents - class work">
                                                    <div class="portfolio-text">
                                                        <h4>Supporting Documents</h4>

                                                        <p>Description</p>
                                                    </div>
                                                    <!-- //.portfolio-text -->
                                                </a>
                                            </div>
                                            <!-- //.portfolio-detail -->
                                        </div>
                                        <!-- //.portfolio-content -->

                                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448534870/Screen_Shot_2015-11-26_at_2.47.10_AM_z3hvud.png"
                                             alt="" class="img-responsive"/>
                                    </div>
                                    <!-- //.inner-content -->
                                </div>
                                <!-- //.portfolio-item -->

                                <div class="portfolio-item grow identity">
                                    <div class="inner-content">
                                        <div class="portfolio-content">
                                            <div class="portfolio-detail">
                                                <a target="_blank" href="#"
                                                   title="Hackathon Project - Links to projects">
                                                    <div class="portfolio-text">
                                                        <h4>Hackathon Projects</h4>

                                                        <p>Links to projects</p>
                                                    </div>
                                                    <!-- //.portfolio-text -->
                                                </a>
                                            </div>
                                            <!-- //.portfolio-detail -->
                                        </div>
                                        <!-- //.portfolio-content -->

                                        <img src="https://res.cloudinary.com/resume/image/upload/v1448534359/Screen_Shot_2015-11-26_at_2.38.35_AM_uht5xd.png"
                                             alt="" class="img-responsive"/>
                                    </div>
                                    <!-- //.inner-content -->
                                </div>
                                <!-- //.portfolio-item -->

                                <div class="portfolio-item grow logo identity">
                                    <div class="inner-content">
                                        <div class="portfolio-content">
                                            <div class="portfolio-detail">
                                                <a target="_blank" href="#"
                                                   title="Project Title 3 - Lorem Ipsum">
                                                    <div class="portfolio-text">
                                                        <h4>Personal Profiles</h4>
                                                        <p>Github, Dribbble, etc.</p>
                                                    </div>
                                                    <!-- //.portfolio-text -->
                                                </a>
                                            </div>
                                            <!-- //.portfolio-detail -->
                                        </div>
                                        <!-- //.portfolio-content -->

                                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448534870/Screen_Shot_2015-11-26_at_2.43.17_AM_bnoexc.png"
                                             alt="" class="img-responsive"/>
                                    </div>
                                    <!-- //.inner-content -->
                                </div>
                                <!-- //.portfolio-item -->

                                <div class="portfolio-item grow logo">
                                    <div class="inner-content">
                                        <div class="portfolio-content">
                                            <div class="portfolio-detail">
                                                <a target="_blank" href="#"
                                                   title="Thoughtful Questions">
                                                    <div class="portfolio-text">
                                                        <h4>Thoughtful Questions or Answers</h4>

                                                        <p>Community Contribution</p>
                                                    </div>
                                                    <!-- //.portfolio-text -->
                                                </a>
                                            </div>
                                            <!-- //.portfolio-detail -->
                                        </div>
                                        <!-- //.portfolio-content -->

                                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448534870/Screen_Shot_2015-11-26_at_2.43.51_AM_cmmxhu.png"
                                             alt="" class="img-responsive"/>
                                    </div>
                                    <!-- //.inner-content -->
                                </div>
                                <!-- //.portfolio-item -->
                            </div>
                            <!-- //.popup-portfolio -->
                        </div>
                        <!-- //.col-md-12 -->
                    </div>

                    <!-- //.row -->
                </div>
                <!-- //.section-content -->
            </div>
        </div>
    </div>
    <!-- //.section-inner -->
</section>
<!-- //End Our Latest Work Section -->


<!-- Begin Keep In Touch Section -->
<section id="keep-in-touch" class="section section-parallax-yes">
    <div class="section-inner">
        <div class="section-overlay"></div>

        <div id="parallax-5" class="parallax">
            <div class="bcg skrollable skrollable-between" data-anchor-target="#parallax-5"
                 data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
                 data-bottom-top="background-position: 50% 100px;">
                <div class="container section-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center">
                                <h3 class="main-title">KEEP IN TOUCH WITH US</h3>

                                <h4 class="sub-title">WE WOULD LOVE TO HEAR FROM YOU</h4>

                                <span class="section-line"></span>
                            </div>
                            <!-- //.section-title -->
                        </div>
                        <!-- //.col-md-12 -->
                    </div>
                    <!-- //.row -->

                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-6">
                            <div class="social-icon-item text-center not-right-column top-column">
                                <a target="_blank" href="https://facebook.com/getonmeed">
                                        <span class="social-icon">
                                            <i class="fa fa-facebook"></i>
                                        </span>

                                    <h4>Facebook</h4>
                                </a>
                            </div>
                            <!-- //.social-icon-item -->
                        </div>
                        <!-- //.col-xs-6 col-sm-4 col-md-2 -->

                        <div class="col-xs-6 col-sm-4 col-md-6">
                            <div class="social-icon-item text-center not-right-column top-column">
                                <a target="_blank" href="https://twitter.com/getonmeed">
                                        <span class="social-icon">
                                            <i class="fa fa-twitter"></i>
                                        </span>

                                    <h4>Twitter</h4>
                                </a>
                            </div>
                            <!-- //.social-icon-item -->
                        </div>
                        <!-- //.col-xs-6 col-sm-4 col-md-2 -->
                        <!-- //.col-xs-6 col-sm-4 col-md-2 -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //.section-content -->
            </div>
            <!-- //.bcg -->
        </div>
        <!-- //.parallax -->
    </div>
    <!-- //.section-inner -->
</section>
<!-- //End Keep In Touch Section -->

<section id="meet-the-team" class="section">
    <div class="section-inner">
        <div class="container section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="main-title">Meet The Team</h3>

                        <h4 class="sub-title">We Are Here For You</h4>

                        <span class="section-line"></span>
                    </div>
                    <!-- //.section-title -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->

            <div class="row">
                <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
                    <div class="img-rounded team-element">
                        <div class="team-inner">
                            <div class="team-detail">
                                <div class="team-content">
                                    <h4>Ravi Vadrevu</h4>

                                    <p>CEO / Co-Founder</p>
                                </div>
                                <!-- //.team-content -->
                            </div>
                            <!-- //.team-detail -->
                        </div>
                        <!-- //.team-inner -->
                        <a target="_blank" href="https://getmeed.com/ravi">
                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448535703/Screen_Shot_2015-11-26_at_3.00.57_AM_xveqzv.png"
                             alt="" class="img-responsive img-rounded"/>
                        </a>
                    </div>
                    <!-- //.team-element -->
                </div>
                <!-- //.team-item -->
                <div class="col-sm-6 col-md-3 team-item not-right-column top-column">
                    <div class="img-rounded team-element">
                        <div class="team-inner">
                            <div class="team-detail">
                                <div class="team-content">
                                    <h4>Viswa Mani Kiran Peddinti</h4>

                                    <p>CTO / Co-Founder</p>
                                </div>
                                <!-- //.team-content -->
                            </div>
                            <!-- //.team-detail -->
                        </div>
                        <!-- //.team-inner -->
                        <a target="_blank" href="https://getmeed.com/peddinti">

                            <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448535827/Screen_Shot_2015-11-26_at_3.03.30_AM_ymqnle.png"
                                 alt="" class="img-responsive img-rounded"/>
                        </a>
                    </div>
                    <!-- //.team-element -->
                </div>
                <div class="col-sm-6 col-md-3 team-item not-right-column">
                    <div class="img-rounded team-element">
                        <div class="team-inner">
                            <div class="team-detail">
                                <div class="team-content">

                                    <h4>Jack Sloman</h4>

                                    <p>Director of Marketing</p>
                                </div>
                                <!-- //.team-content -->
                            </div>
                            <!-- //.team-detail -->
                        </div>
                        <!-- //.team-inner -->
                        <a target="_blank" href="https://getmeed.com/jsloman">

                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448535936/Screen_Shot_2015-11-26_at_3.05.17_AM_zryk5j.png"
                             alt="" class="img-responsive img-rounded"/>
                            </a>
                    </div>
                    <!-- //.team-element -->
                </div>
                <!-- //.team-item -->

                <div class="col-sm-6 col-md-3 team-item">
                    <div class="img-rounded team-element">
                        <div class="team-inner">
                            <div class="team-detail">
                                <div class="team-content">
                                    <h4>Gregory Wisenberg</h4>

                                    <p>Director of Growth</p>
                                </div>
                                <!-- //.team-content -->
                            </div>
                            <!-- //.team-detail -->
                        </div>
                        <!-- //.team-inner -->
                        <a target="_blank" href="https://getmeed.com/greg">

                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448536113/Screen_Shot_2015-11-26_at_3.08.10_AM_rnyzdj.png"
                             alt="" class="img-responsive img-rounded"/>
                            </a>
                    </div>
                    <!-- //.team-element -->
                </div>

                <div class="col-sm-6 col-md-3 team-item">
                    <div class="img-rounded team-element">
                        <div class="team-inner">
                            <div class="team-detail">
                                <div class="team-content">
                                    <h4>Terrell Orr</h4>

                                    <p>Director of Content </p>
                                </div>
                                <!-- //.team-content -->
                            </div>
                            <!-- //.team-detail -->
                        </div>
                        <!-- //.team-inner -->
                        <a target="_blank" href="https://getmeed.com/torr">

                        <img src="https://res.cloudinary.com/resume/image/upload/c_scale,w_768/v1448536185/Screen_Shot_2015-11-26_at_3.09.30_AM_rualqc.png"
                             alt="" class="img-responsive img-rounded"/>
                            </a>
                    </div>
                    <!-- //.team-element -->
                </div>
                <!-- //.team-item -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.section-inner -->
</section>
<!-- //End Meet The Team Section -->


<!--&lt;!&ndash; Begin Testimonials Section &ndash;&gt;-->
<!--<section id="testimonials" class="section section-bgimage-yes">-->
    <!--<div class="section-inner">-->
        <!--<div class="section-overlay"></div>-->

        <!--<div class="container section-content">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="section-title text-center">-->
                        <!--<h2 class="main-title">Testimonials</h2>-->

                        <!--<h3 class="sub-title">We Make Our Customers Happy</h3>-->

                        <!--<span class="section-line"></span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.section-title &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-12 &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; //.row &ndash;&gt;-->

            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<div class="testimonial-item not-right-column not-bottom-column">-->
                        <!--<div class="testimonial-content">-->
                            <!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

                            <!--<blockquote>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                    <!--exercitation.</p>-->
                            <!--</blockquote>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

                        <!--<div class="testimonial-info clearfix">-->
                            <!--<img width="100"-->
                                 <!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
                                 <!--alt="" class="img-circle img-thumbnail"/>-->

                            <!--<p class="testimonial-author">-->
                                <!--@Jane Doe, Jakarta-->
                                <!--<br>-->
                                <!--<em>Co-Founder at Cisco</em>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

                <!--<div class="col-md-4">-->
                    <!--<div class="testimonial-item not-right-column not-bottom-column">-->
                        <!--<div class="testimonial-content">-->
                            <!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

                            <!--<blockquote>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                    <!--exercitation.</p>-->
                            <!--</blockquote>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

                        <!--<div class="testimonial-info clearfix">-->
                            <!--<img width="100"-->
                                 <!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
                                 <!--alt="" class="img-circle img-thumbnail"/>-->

                            <!--<p class="testimonial-author">-->
                                <!--@John Doe, Jakarta-->
                                <!--<br>-->
                                <!--<em>Creative Director at Apple</em>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

                <!--<div class="col-md-4">-->
                    <!--<div class="testimonial-item not-bottom-column">-->
                        <!--<div class="testimonial-content">-->
                            <!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

                            <!--<blockquote>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                    <!--exercitation.</p>-->
                            <!--</blockquote>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

                        <!--<div class="testimonial-info clearfix">-->
                            <!--<img width="100"-->
                                 <!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
                                 <!--alt="" class="img-circle img-thumbnail"/>-->

                            <!--<p class="testimonial-author">-->
                                <!--@John Doe, Jakarta-->
                                <!--<br>-->
                                <!--<em>Managet at Microsoft</em>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; //.row &ndash;&gt;-->

            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<div class="testimonial-item not-right-column">-->
                        <!--<div class="testimonial-content">-->
                            <!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

                            <!--<blockquote>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                    <!--exercitation.</p>-->
                            <!--</blockquote>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

                        <!--<div class="testimonial-info clearfix">-->
                            <!--<img width="100"-->
                                 <!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
                                 <!--alt="" class="img-circle img-thumbnail"/>-->

                            <!--<p class="testimonial-author">-->
                                <!--@John Doe, Jakarta-->
                                <!--<br>-->
                                <!--<em>Co-Founder at Cisco</em>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

                <!--<div class="col-md-4">-->
                    <!--<div class="testimonial-item not-right-column">-->
                        <!--<div class="testimonial-content">-->
                            <!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

                            <!--<blockquote>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                    <!--exercitation.</p>-->
                            <!--</blockquote>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

                        <!--<div class="testimonial-info clearfix">-->
                            <!--<img width="100"-->
                                 <!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
                                 <!--alt="" class="img-circle img-thumbnail"/>-->

                            <!--<p class="testimonial-author">-->
                                <!--@Jane Doe, Jakarta-->
                                <!--<br>-->
                                <!--<em>Creative Director at Apple</em>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->

                <!--<div class="col-md-4">-->
                    <!--<div class="testimonial-item">-->
                        <!--<div class="testimonial-content">-->
                            <!--<p class="testimonial-title">Lorem Ipsum Title</p>-->

                            <!--<blockquote>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                    <!--exercitation.</p>-->
                            <!--</blockquote>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-content &ndash;&gt;-->

                        <!--<div class="testimonial-info clearfix">-->
                            <!--<img width="100"-->
                                 <!--src="https://res.cloudinary.com/resume/image/upload/v1448362103/testimonial-image-1_wzzv6m.jpg"-->
                                 <!--alt="" class="img-circle img-thumbnail"/>-->

                            <!--<p class="testimonial-author">-->
                                <!--@Jane Doe, Jakarta-->
                                <!--<br>-->
                                <!--<em>Managet at Microsoft</em>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; //.testimonial-info &ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; //.testimonial-item &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; //.col-md-4 &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; //.row &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; //.section-container &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; //.section-inner &ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash; //End Testimonials Section &ndash;&gt;-->

