<section id="categories-feed" class="categories-feed">
  <div class="row horizontal-feed-title-wrap">
    <p class="feed-title">Group Types</p>
  </div>
  <div class="row">
    <div class="main">
         <collection-categories-list
              private-collections="privateCollections"
              public-collections="publicCollections"
              category="category"
              current-user="currentUser"
              load-category="loadCategory"></collection-categories-list>
    </div>
  </div>
    <signup-modal></signup-modal>
</section>
