<ul class="collection-categories-list">
    <li class="collection-category-list-entry" id="category-public">
        <a ng-href="/categories/public" data-cat-id="public">
            <p class="category-title">
                Public
      <span
              class="collection-count"
              ng-if="publicCollections.length > 0"
              >{{ ::publicCollections.length }}</span>
            </p>
        </a>
    </li>
    <li class="collection-category-list-entry" id="category-{{ ::category.id }}" ng-if="category">
        <a ng-href="/categories/{{ ::category.id }}" data-cat-id="{{ ::category.id }}">
            <p class="category-title">
                {{ ::category.title }}
      <span
              class="collection-count"
              ng-if="privateCollections.length > 0"
              >{{ ::privateCollections.length }}</span>
            </p>
        </a>
    </li>
</ul>
