<div class="collection-category">
  <category-collections-feed
    collections="collections"
    category="category">
  </category-collections-feed>
  <div class="main-wrap">
    <div class="row">
      <section id="activity-feed-wrap" class="main" >
        <div class="activity-feed-inner">
          <collection-activity-feed
            feed-items="feedItems"
            category="category"
            no-feed-items="noFeedItems"
            >
          </collection-activity-feed>
        </div>
      </section>
    </div>
    <div class="row">
        <site-nav class="bottom" user-collections="userCollections"></site-nav>
    </div>
  </div>
</div>
