<div class="comment-actions">
    <a class="upvoted" ng-if="currentUser && comment.has_viewer_upvoted">
        Upvoted
                      <span class="count" ng-if="comment.upvote_count > 0">
                        {{ comment.upvote_count }}
                      </span>
    </a>
    <a
            class="upvote"
            ng-click="comment.upvote()"
            ng-if="currentUser && !comment.has_viewer_upvoted"
            >
        <i class="fa fa-caret-up"></i>
        Upvote
                      <span class="count" ng-if="comment.upvote_count > 0">
                        {{ comment.upvote_count }}
                      </span>
    </a>
    <a
            ng-if="!currentUser"
            class="upvote open-signup-modal"
            >
        <i class="fa fa-caret-up"></i>
        Upvote
                      <span class="count" ng-if="comment.upvote_count > 0">
                        {{ comment.upvote_count }}
                      </span>
    </a>
    <a class="edit" ng-click="edit()" ng-if="comment.is_viewer_author">Edit</a>
    <a class="delete" ng-click="del()" ng-if="comment.is_viewer_author">Delete</a>
</div>
